body { padding-top: 50px; }
.show-grid {margin-bottom: 15px;}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}
[data-ng-toggle="buttons"] > .btn input[type="radio"],
[data-ng-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-ng-toggle="buttons"] > .btn input[type="checkbox"],
[data-ng-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.no-radius {
	border-radius: 0;
	-webkit-appearance: none;
}
.selected-company-type .btn {
	white-space: normal;
}
.list-company {
	max-height: 500px;
	overflow-y: auto;
}
.list-company a {
	cursor: pointer;
}
footer{
	padding-top: 10px;
	padding-bottom: 10px;
	background: #fff;
	box-shadow: #FFF 0 0 10px 4px;
}
.table.brands-list>tbody>tr {
	height: 1px;
}
.table.brands-list>tbody>tr>td {
	padding: 0;
	height: 100%;
}
.brands-list label{
	display: block;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding: 6px;
	margin-bottom: 0;
}
.company-count .form-control:not(:focus){
	width:110px;
	border-radius: 3px;
}
.company-count .form-control:focus,
.company-count:hover .form-control {
	width:70px;
}
.company-count .form-control + .input-group-btn{
	display:none;
}
.company-count .form-control:focus + .input-group-btn,
.company-count:hover > .input-group-btn{
	display:table-cell;
}
#brandsAccordion .panel-heading {
	padding:0;
}
#brandsAccordion .panel-heading .panel-heading-body{
	padding: 10px 15px;
	cursor: pointer;
}