<div class="row">
	<div class="col-xs-12">
		<h2 class="text-center"><small>Добавление брендам ЛПУ</small></h2>
	</div>
</div>

<input type="text" class="form-control show-grid" placeholder="Поиск по брендам" ng-model="search.name">

<table class="table brands-list">
	<thead>
		<tr>
			<th width="58%">Бренд</th>
			<th width="10%">План офис</th>
			<th width="10%">Факт план</th>
			<th width="10%">Отклонение</th>
		</tr>
	</thead>
</table>

<div class="panel-group " accordion-company id="brandsAccordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default" ng-repeat="brand in brands | filter:search:strict">
		<div class="panel-heading" role="tab" id="brandHeading{{brand.id}}">
			<div class="panel-heading-body" data-toggle="collapse" data-parent="#brandsAccordion" data-target="#collapse{{brand.id}}" aria-expanded="true" aria-controls="collapseOne">
				<table style="width: 100%;">
					<tr>
						<td width="58%">{{brand.name}}</td>
						<td width="14%" class="text-right">{{brand.cntOffice | number}}</td>
						<td width="14%" class="text-right">{{brand.cnt | number}}</td>
						<td width="14%" class="text-right">{{(brand.cnt - brand.cntOffice) | number}}</td>
					</tr>
				</table>
			</div>
		</div>

		<div id="collapse{{brand.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="brandHeading{{brand.id}}" data-brand-id="{{brand.id}}">
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th width="1%">&nbsp;</th>
							<th>ЛПУ</th>
							<th>Адрес</th>
							<th width="120">Количество</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="company in brand.companies">
							<td><button class="btn btn-default btn-xs" ng-click="removeSalePlan(company.salePlanId, {brandId:brand.id})"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
							<td>{{company.name}}</td>
							<td>{{company.addr}}</td>
							<td style="padding:3px 0">
								<div style="display:inherit">
									<div class="input-group">
										<form class="company-count" ng-submit="updateSalePlanCount(company.salePlanId, company.cnt)">
											<input type="text" class="form-control" size="5" ng-model="company.cnt" ng-change="onChangeCompanyCnt(brand.id)">
											<span class="input-group-btn">
												<button class="btn btn-primary" type="button" ng-click="updateSalePlanCount(company.salePlanId, company.cnt)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
											</span>
										</form>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="4" align="right">
								<button class="btn btn-primary" data-toggle="modal" data-target="#add-company" data-brand-id="{{brand.id}}">Добавить ЛПУ</button>
							</td>
						</tr>
					<tbody>
				</table>
			</div>
		</div>
	</div>
	<div ng-if="!brands.length">
		<p>Нет планов для данных периода и области</p>
	</div>
</div>

<div class="modal fade" id="add-company" add-company-modal>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Выберите ЛПУ</h4>
			</div>
			<div class="modal-body">
				<form ng-submit="searchCompany(searchCompanyString)">
					<div class="input-group show-grid">
						<input type="text" class="form-control" placeholder="Поиск по учреждениям" ng-model="searchCompanyString">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="searchCompany(searchCompanyString)">Найти</button>
						</span>
					</div>
				</form>

				<div class="panel panel-default">
					<div class="list-group list-company">
						<a id="c{{c.id}}" class="list-group-item" ng-repeat="c in companies" ng-click="addCurrentCompany(c.id, c.name, c.addr)" ng-class="{'list-group-item-success':selectedCompanyIds.indexOf(c.id) > -1}">
							<span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"  ng-class="(selectedCompanyIds.indexOf(c.id) > -1) ? 'glyphicon-ok' : 'glyphicon-plus'"></span>
							<p class="list-group-item-heading">{{c.name}}</p>
							<p class="list-group-item-text">{{c.addr}}</p>
						</a>
					</div>
					<div ng-if="!companies.length"><span class="list-group-item">ЛПУ не найдены</span></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
				<button type="button" class="btn btn-primary" ng-click="addCompaniesToList(brandId)">Добавить</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->