<div class="row">
	<div class="col-xs-12">
		<h2 class="text-center"><small>Планирование</small></h2>
	</div>
</div>
<div class="row show-grid" style="margin-bottom: 40px;">
	<div class="col-xs-12">
		<input type="text" class="form-control show-grid" placeholder="Поиск" ng-model="search.name">
		<div class="panel panel-default">
			<table class="table table-striped brands-list">
				<thead>
					<tr>
						<th width="5%"></th>
						<th width="65%">Бренд</th>
						<th width="20%" class="text-right">Количество</th>
						<th width="10%">Запланирован</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="brand in brands | filter:search:strict">
						<td class="text-center"><label for="brand{{brand.id}}"><input type="checkbox" value="{{brand.id}}" id="brand{{brand.id}}" ng-model="brandsIds[brand.id]"></label></td>
						<td><label for="brand{{brand.id}}">{{brand.name}}</label></td>
						<td class="text-right"><label for="brand{{brand.id}}">{{brand.cnt | number}}</label></td>
						<td><label for="brand{{brand.id}}"><span ng-if="brand.isPlanned == 1 ? 1 : 0" class="glyphicon glyphicon-ok" aria-hidden="true"></span></label></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<footer class="container navbar-fixed-bottom">
	<div class="text-center">
		<button type="button" class="col-xs-12 btn btn-primary" ng-click="toCompany()" ng-disabled="!brandsIdsFiltered.length">Выбрать учреждение</button>
	</div>
</footer>