<div class="row">
	<div class="col-xs-12">
		<h2 class="text-center"><small>Добавление ЛПУ брендов</small></h2>
	</div>
</div>

<input type="text" class="form-control show-grid" placeholder="Поиск по ЛПУ" ng-model="search.name">

<table class="table brands-list">
	<thead>
		<tr>
			<th width="49%">ЛПУ</th>
			<th width="39%">Адрес</th>
			<th width="12%">Количество</th>
		</tr>
	</thead>
</table>

<div class="panel-group " accordion-brands id="brandsAccordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default" ng-repeat="company in companies | filter:search:strict">
		<div class="panel-heading" role="tab" id="brandHeading{{company.id}}">
			<div class="panel-heading-body" data-toggle="collapse" data-parent="#brandsAccordion" data-target="#collapse{{company.id}}" aria-expanded="true" aria-controls="collapseOne">
				<table style="width: 100%;">
					<tr>
						<td width="50%">{{company.name}}</td>
						<td width="40%">{{company.addr}}</td>
						<td width="10%">{{company.cnt | number}}</td>
					</tr>
				</table>
			</div>
		</div>

		<div id="collapse{{company.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="brandHeading{{company.id}}" data-company-id="{{company.id}}">
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th width="1%">&nbsp;</th>
							<th>Бренд</th>
							<th width="120">Факт план</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="brand in company.brands">
							<td><button class="btn btn-default btn-xs" ng-click="removeSalePlan(brand.salePlanId, {companyId:company.id})"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
							<td>{{brand.name}}</td>
							<!-- <td>{{brand.cnt}}</td> -->
							<td style="padding:3px 0">
								<div style="display:inherit">
									<div class="input-group input-group-sm">
										<form class="company-count" ng-submit="updateSalePlanCount(brand.salePlanId, brand.cnt)">
											<input type="text" class="form-control" size="5" ng-model="brand.cnt" ng-change="onChangeBrandCnt(company.id)">
											<span class="input-group-btn">
												<button class="btn btn-primary" type="button" ng-click="updateSalePlanCount(brand.salePlanId, brand.cnt)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
											</span>
										</form>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="4" align="right">
								<button class="btn btn-primary" data-toggle="modal" data-target="#add-brand" data-company-id="{{company.id}}">Добавить бренд</button>
							</td>
						</tr>
					<tbody>
				</table>
			</div>
		</div>
	</div>
	<div ng-if="!companies.length">
		<p>Нет планов для данных периода и области</p>
	</div>
</div>

<div class="modal fade" id="add-brand" add-brand-modal>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Выберите бренд</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control show-grid" placeholder="Поиск по брендам" ng-model="searchBrandString.name">

				<div class="panel panel-default">
					<div class="list-group list-company">
						<a id="b{{b.id}}" class="list-group-item" ng-repeat="b in brands | filter:searchBrandString:strict" ng-click="addCurrentBrand(b.id, b.name)" ng-class="{'list-group-item-success':selectedBrandsIds.indexOf(b.id) > -1}">
							<span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"  ng-class="(selectedBrandsIds.indexOf(b.id) > -1) ? 'glyphicon-ok' : 'glyphicon-plus'"></span>
							<p class="list-group-item-heading">{{b.name}}</p>
						</a>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
				<button type="button" class="btn btn-primary" ng-click="addBrandsToList(companyId)">Добавить</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->