<div class="row">
	<div class="col-xs-12">
		<h2 class="text-center"><small>Выбор учреждений</small></h2>
	</div>
</div>
<div class="row show-grid">
	<div class="col-xs-12">
		<div class="btn-group btn-group-justified selected-company-type" data-ng-toggle="buttons">
			<label class="btn btn-default" ng-class="{'active': companyType == 1}">
				<input type="radio" value="1" ng-model="companyType"> Стационар
			</label>
			<label class="btn btn-default" ng-class="{'active': companyType == 2}">
				<input type="radio" value="2" ng-model="companyType"> Поликлиника
			</label>
			<label class="btn btn-default" ng-class="{'active': companyType == 3}">
				<input type="radio" value="3" ng-model="companyType"> Стационар + Поликлиника
			</label>
		</div>
	</div>
</div>
<div class="row show-grid">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<form ng-submit="searchCompany(searchCompanyString)">
				<div class="input-group">
					<input type="text" class="form-control no-radius" placeholder="Поиск по учреждениям" ng-model="searchCompanyString">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="searchCompany(searchCompanyString)">Найти</button>
					</span>
				</div>
			</form>

			<div class="list-group list-company">
				<a id="c{{c.id}}" class="list-group-item" ng-repeat="c in companies" ng-click="addCompanyToList(c.id)" ng-class="{'list-group-item-success':selectedCompanyIds.indexOf(c.id) > -1}">
					<span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"  ng-class="(selectedCompanyIds.indexOf(c.id) > -1) ? 'glyphicon-ok' : 'glyphicon-plus'"></span>
					<p class="list-group-item-heading">{{c.name}}</p>
					<p class="list-group-item-text">{{c.addr}}</p>
				</a>
			</div>
			<div ng-if="companies.length == 0">
				<div class="list-group-item">Нет подходящих ЛПУ</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<input type="text" class="form-control no-radius" placeholder="Поиск среди добавленных" ng-model="search.name">

			<div class="list-group list-company">
				<a id="sc{{v.id}}" class="list-group-item" ng-repeat="(k,v) in selectedCompany | filter:search:strict" ng-click="removeCompanyFromList(v.id)"><span class="glyphicon glyphicon-minus pull-right" aria-hidden="true"></span>{{v.name}}</a>
			</div>
		</div>
	</div>
</div>
<div class="row show-grid">
	<div class="col-xs-12 text-center">
		<button class="col-xs-12 btn btn-primary" ng-click="planning()" ng-disabled="!selectedCompany.length">Запланировать</button>
	</div>
</div>