<div class="row">
	<div class="col-xs-12">
		<h2 class="text-center"><small>Статистика</small></h2>
	</div>
</div>

<input type="text" class="form-control show-grid" placeholder="Поиск по брендам" ng-model="search.name">

<table class="table brands-list">
	<thead>
		<tr>
			<th width="67%">Бренд</th>
			<th width="11%">План офис</th>
			<th width="11%">Факт план</th>
			<th width="11%">Отклонение</th>
		</tr>
	</thead>
</table>

<div class="panel-group " accordion-statistics id="brandsAccordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default" ng-repeat="brand in brands | filter:search:strict">
		<div class="panel-heading" role="tab" id="brandHeading{{brand.id}}">
			<div class="panel-heading-body" data-toggle="collapse" data-parent="#brandsAccordion" data-target="#collapse{{brand.id}}" aria-expanded="true" aria-controls="collapseOne">
				<table style="width: 100%;">
					<tr>
						<td width="70%">{{brand.name}}</td>
						<td width="10%">{{brand.cnt}}</td>
						<td width="10%">{{brand.cntOffice}}</td>
						<td width="10%">{{brand.cnt - brand.cntOffice}}</td>
					</tr>
				</table>
			</div>
		</div>

		<div id="collapse{{brand.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="brandHeading{{brand.id}}" data-brand-id="{{brand.id}}">
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th width="1%">&nbsp;</th>
							<th>ЛПУ</th>
							<th>Адресс</th>
							<th>Количество</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="company in brand.companies">
							<td><button class="btn btn-default btn-xs" ng-click="removeSalePlan(company.salePlanId)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
							<td>{{company.Name}}</td>
							<td>{{company.addr}}</td>
							<td style="padding:3px 0">
								<div style="display:inherit">
									<div class="input-group input-group-sm company-count">
										<input type="text" class="form-control" size="5" ng-model="company.cnt" ng-change="onChangeCompanyCnt(brand.id)">
										<span class="input-group-btn">
											<button class="btn btn-primary" type="button" ng-click="updateCompanyCount(company.salePlanId, company.cnt)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
										</span>
									</div>
								</div>
							</td>
						</tr>
					<tbody>
				</table>
			</div>
		</div>
	</div>
</div>